body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.7);
    width: 200px;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #f20707;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    padding: 5px;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    flex-grow: 1;
    border-radius: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #480af3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}